:host {
  width: 100% !important;
  flex: 1;
  display: -webkit-inline-box;
  overflow: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

[appScrollGalleryItem] {
  //display: flex;
  //min-height: max-content;
  //position: relative;
  display: inline;
}
