:root {
  --color-0B131E: #0B131E;
  --color-20CE7D: #20CE7D;
  --color-FFD600: #FFD600;
  --color-79FF87: #79FF87;
  --color-00E0FF: #00E0FF;
  --color-F4AE47: #F4AE47;
  --color-111B29: #111B29;
  --color-404957: #404957;
  --color-FFFFFF: #FFFFFF;
}

.color-79FF87{
  color:var(--color-79FF87) !important;
}

.color-00E0FF{
  color:var(--color-00E0FF) !important;
}

.color-FFD600{
  color:var(--color-FFD600) !important;
}

.color-F4AE47{
  color:var(--color-F4AE47) !important;
}

.color-111B29{
  color:var(--color-111B29) !important;
}

.color-404957{
  color:var(--color-404957) !important;
}

.color-FFFFFF{
  color:var(--color-FFFFFF) !important;
}
