.f-10 {
  font-size: 0.625rem !important; /* (10 / 14) * 0.875rem */
}

.f-11 {
  font-size: 0.6875rem !important; /* (11 / 14) * 0.875rem */
}

.f-12 {
  font-size: 0.75rem !important; /* (12 / 14) * 0.875rem */
}

.f-13 {
  font-size: 0.8125rem !important; /* (13 / 14) * 0.875rem */
}

.f-15 {
  font-size: 0.9375rem !important; /* (15 / 14) * 0.875rem */
}

.f-16 {
  font-size: 1rem !important; /* (16 / 14) * 0.875rem */
}

.f-17 {
  font-size: 1.0625rem !important; /* (17 / 14) * 0.875rem */
}

.f-18 {
  font-size: 1.125rem !important; /* (18 / 14) * 0.875rem */
}

.f-19 {
  font-size: 1.1875rem !important; /* (19 / 14) * 0.875rem */
}

.f-20 {
  font-size: 1.25rem !important; /* (20 / 14) * 0.875rem */
}

.f-21 {
  font-size: 1.3125rem !important; /* (21 / 14) * 0.875rem */
}

.f-22 {
  font-size: 1.375rem !important; /* (22 / 14) * 0.875rem */
}

.f-23 {
  font-size: 1.4375rem !important; /* (23 / 14) * 0.875rem */
}

.f-24 {
  font-size: 1.5rem !important; /* (24 / 14) * 0.875rem */
}

.f-25 {
  font-size: 1.5625rem !important; /* (25 / 14) * 0.875rem */
}

.f-26 {
  font-size: 1.625rem !important; /* (26 / 14) * 0.875rem */
}


//LINE HEIGHT

.lh-10 {
  line-height: 0.7143 !important; /* (10 / 14) * 1.0204 */
}

.lh-11 {
  line-height: 0.7755 !important; /* (11 / 14) * 1.0204 */
}

.lh-12 {
  line-height: 0.8367 !important; /* (12 / 14) * 1.0204 */
}

.lh-13 {
  line-height: 0.8979 !important; /* (13 / 14) * 1.0204 */
}

.lh-15 {
  line-height: 1.0204 !important; /* (14 / 14) * 1.0204 */
}

.lh-16 {
  line-height: 1.0816 !important; /* (16 / 14) * 1.0204 */
}

.lh-17 {
  line-height: 1.1428 !important; /* (17 / 14) * 1.0204 */
}

.lh-18 {
  line-height: 1.2041 !important; /* (18 / 14) * 1.0204 */
}

.lh-19 {
  line-height: 1.2653 !important; /* (19 / 14) * 1.0204 */
}

.lh-20 {
  line-height: 1.3265 !important; /* (20 / 14) * 1.0204 */
}

.lh-21 {
  line-height: 1.3877 !important; /* (21 / 14) * 1.0204 */
}

.lh-22 {
  line-height: 1.4489 !important; /* (22 / 14) * 1.0204 */
}

.lh-23 {
  line-height: 1.5102 !important; /* (23 / 14) * 1.0204 */
}

.lh-24 {
  line-height: 1.5714 !important; /* (24 / 14) * 1.0204 */
}

.lh-25 {
  line-height: 1.6326 !important; /* (25 / 14) * 1.0204 */
}

.lh-26 {
  line-height: 1.6938 !important; /* (26 / 14) * 1.0204 */
}

//FONT-WEIGHT

.fw-100 {
  font-weight: 100 !important; /* (100 / 400) * 400 */
}

.fw-200 {
  font-weight: 200 !important; /* (200 / 400) * 400 */
}

.fw-300 {
  font-weight: 300 !important; /* (300 / 400) * 400 */
}

.fw-400 {
  font-weight: 400 !important; /* (400 / 400) * 400 */
}

.fw-500 {
  font-weight: 500 !important; /* (500 / 400) * 400 */
}

.fw-600 {
  font-weight: 600 !important; /* (600 / 400) * 400 */
}

.fw-700 {
  font-weight: 700 !important; /* (700 / 400) * 400 */
}

.fw-800 {
  font-weight: 800 !important; /* (800 / 400) * 400 */
}

.fw-900 {
  font-weight: 900 !important; /* (900 / 400) * 400 */
}

.fw-1000 {
  font-weight: 1000 !important; /* (1000 / 400) * 400 */
}

.text-no-wrap {
  white-space: nowrap;
}

.letter-spacing-0{
  letter-spacing: 0rem;
}

.text-decoration-none{
  text-decoration: none;
}

.position-relative{
  position: relative !important;
}
.position-absolute{
  position: absolute !important;
}
.text-uppercase{
  text-transform: uppercase !important;
}
.text-nowrap{
  white-space: nowrap !important;
}
