.flight {
  background-color: #183659;
  border-bottom: 1px solid #4f348c;
  cursor: pointer;

  &__logo {
    width: 125px;

    img {
      border: 2px solid #3E5065;
      border-radius: 50%;
      height: 64px;
      width: 64px;
      display: block;
    }

    &:after {
      height: 50px;
      width: 2px;
      border-left: 3px dashed #29384A;
    }
  }

  &__logo {
    width: 125px;

    img {
      border: 1px solid #3E5065;
      border-radius: 50%;
      height: 64px;
      width: 64px;
      display: block;
    }

    &:after {
      height: 50px;
      width: 2px;
      border-left: 3px dashed #29384A;
    }
  }

  &__info {
    flex: 1;

    h5 {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
    }

    h6 {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
    }

    i {
      color: #FFFFFF;
    }

    .divider {
      width: 1px;
      height: 30px;
      background-color: #fff;
    }

    .date {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: #FFFFFF;
    }

    .hour {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
    }

    .day {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
    }
  }

  &__value {
    width: 150px;

    button {
      height: 20px;
      border-radius: 13px;
      background-color: #FFFFFF;
      border: none;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: center;
      cursor: pointer;
      width: fit-content;
    }

    p {
      font-size: 10px;
      font-weight: 700;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: center;
      color: #FFFFFF;
    }
  }
}


@media (max-width: 560px) {
  .flight {

    &__logo {
      width: 75px;
      margin-right: 1rem;

      img {
        height: 48px;
        width: 48px;
      }
    }
  }
}
