<div class="d-flex justify-content-center align-items-center mt-4 stories">
  <div class="carrousel-input mr-3" (click)="moveLeft()">
    <i class="ICON-SIT06_LEFT"></i>
  </div>
  <app-scroll-gallery (rightIndexChanged)='rightIndexChange($event)' #carrousel>
    <div *ngFor="let _ of [].constructor(20) let index = index" appScrollGalleryItem class="story-card" (click)="onStoryClick(index)">
      <app-story-card class="d-flex justify-content-center px-2"></app-story-card>
    </div>
  </app-scroll-gallery>
  <div class="carrousel-input ml-3" (click)="moveRight()">
    <i class="ICON-SIT05_RIGHT"></i>
  </div>
</div>

<div *ngIf="false" style="position: fixed; top:0; left:0; right: 0; bottom: 0; z-index: 1000;">
  <div  class="d-flex justify-content-center align-items-center mt-4" style="max-height: 50vh;">
    <div class="carrousel-input mr-3" (click)="storiesViewerMoveLeft()">
      <i class="ICON-SIT06_LEFT"></i>
    </div>
    <app-scroll-gallery (rightIndexChanged)='rightIndexChange($event)' #StoriesVierwerCaroussel>
      <div *ngFor="let _ of [].constructor(20); " appScrollGalleryItem class="story-card">
        <app-story-card class="d-flex justify-content-center px-2"></app-story-card>
      </div>
    </app-scroll-gallery>
    <div class="carrousel-input ml-3" (click)="storiesViewermoveRight()">
      <i class="ICON-SIT05_RIGHT"></i>
    </div>
  </div>
</div>


