.carrousel-input{
  cursor: pointer;
  position: relative;
  font-size: 20px;
  border-radius: 50%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  color: #fff;

  @media (max-width: 768px) {
    display: none;
  }
}

.story-card{
  min-width: 25.1%;

  @media (max-width: 1196px) {
    min-width: 33.33%;
  }
  @media (max-width: 996px) {
    min-width: 50%;
  }
  @media (max-width: 646px) {
    min-width: 60%;
  }
}

.stories{
  margin-bottom: 10rem;
  @media (max-width: 992px) {
    margin-bottom: 5rem;
  }
}

.stories-viewer{
  position: fixed;
}
