<app-header-bar class="w-100"></app-header-bar>
<div class="main">
  <google-map height="100%" width="100%" [options]="options">
    <map-marker *ngFor="let marker of markers" [position]="marker.position" [options]="markerOption"></map-marker>
  </google-map>
  <div class="header w-100">
    <app-scroll-gallery class="locations py-3">
        <div class="d-flex align-items-center justify-content-center">
          <div appScrollGalleryItem class="locations__add d-flex align-items-center justify-content-center mx-4">
            <i class="ICON-PIN1_Normal locations__add__icon f-22"></i>
          </div>
        </div>
        <ng-container *ngFor="let _ of [].constructor(5); let index = index;">
          <div appScrollGalleryItem class="locations__location d-flex flex-column align-items-center justify-content-center mx-4" [ngClass]="{'locations__location--active':selectedLocationIndex == index}" (click)="selectedLocationIndex = index">
            <i class="ICON-PIN1_Normal f-18 mb-1"></i>
            <h5 class="f-12 lh-13 fw-700 mb-1">Paris</h5>
            <h6 class="f-10 lh-13 fw-400">France</h6>
          </div>
        </ng-container>

    </app-scroll-gallery>
    <app-scroll-gallery class="days py-2">
      <div class="d-flex align-items-center justify-content-center">
        <div appScrollGalleryItem class="days__add d-flex align-items-center justify-content-center mx-4">
          <i class="ICON-ROT1_CALENDAR days__add__icon f-22"></i>
        </div>
      </div>
      <ng-container *ngFor="let _ of [].constructor(9); let index = index;">
        <div appScrollGalleryItem class="days__day d-flex flex-column align-items-center justify-content-center mx-4" [ngClass]="{'days__day--active':selectedLocationIndex == index}" (click)="selectedLocationIndex = index">
          <h5 class="f-12 lh-13 fw-700 mb-1 text-nowrap">Day {{ (index + 1) | number:'2.0' }}</h5>
          <h6 class="f-10 lh-13 fw-400">France</h6>
        </div>
      </ng-container>

    </app-scroll-gallery>
  </div>
  <div #content class="content h-100">
    <div class="list pb-4 h-100 d-flex flex-column">
      <div class="d-flex align-items-baseline gap-1 p-3">
        <h2 class="f-19 lh-23 fw-300 color-FFFFFF">Day 01</h2> <h5 class="f-19 lh-23 fw-700 color-FFFFFF">Paris,</h5> <h6 class="f-12 lh-15 fw-700 color-FFFFFF">France</h6>
      </div>
      <div class="d-flex align-items-baseline justify-content-between gap-1 p-3">
        <div class="d-flex gap-1">
          <div class="d-flex align-items-center">
            <i class="ICON-PIN1_Normal locations__add__icon f-18 color-FFFFFF"></i>
          </div>
          <div class="d-flex flex-column gap-1">
            <h6 class="f-10 lh-13 fw-400 color-FFFFFF">From</h6>
            <h5 class="f-12 lh-13 fw-700 color-FFFFFF">São Paulo, Brazil</h5>
          </div>
        </div>
        <button class="ia-button d-flex align-items-center gap-1 px-3 py-2">
          <i class="ICON-SIT03_ITINERARY options__drag"></i> Suggest my day
        </button>
      </div>
      <div class="places d-flex flex-column">
        <div class="places__header d-flex justify-content-between px-3 py-2">
          <div class="d-flex align-items-center gap-1">
            <h5 class="color-FFFFFF text-nowrap f-12 lh-13 fw-700">Day 01 - Mon</h5>
            <h6 class="color-FFFFFF text-nowrap f-12 lh-13 fw-400">Jul 2</h6>
          </div>
          <div class="remove-day f-10 lh-13 fw-700">
            Delete this day
          </div>
        </div>
        <div class="places__list">
          <ng-container *ngFor="let _ of [].constructor(20); let index = index;">
            <div class="place d-flex gap-1 p-2">
              <div class="d-flex align-items-center justify-content-between flex-column options">
                <span class="d-flex align-items-center justify-content-center f-12 lh-13 fw-700 color-FFFFFF options__count">{{(index + 1) | number:'2.0' }}</span>
                <i class="ICON-SIT03_ITINERARY options__drag"></i>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-column icon">
               <img loading="lazy" src="https://static.vecteezy.com/system/resources/thumbnails/006/331/115/small/chef-hat-restaurant-kitchen-line-style-icon-free-free-vector.jpg">
              </div>
              <div class="d-flex flex-column gap-1 text">
                <h5 class="f-12 lh-15 fw-700 color-FFFFFF">Sanctuary Lone Pine</h5>
                <p class="f-10 lh-14 fw-400 color-FFFFFF">is one of the most famous monuments in Paris, France, standing at the western end of the Champs-Élysées at the centre of Place Charles de Gaulle, formerly named Place de l'Étoile—the étoile or "star" of the juncture formed by its twelve radiating avenues.</p>
              </div>

              <div class="d-flex flex-column justify-content-end gap-1 info">
                <div class="d-flex align-items-center justify-content-center gap-1 text-nowrap rating">
                  <i class="ICON-ROT4_STAR"></i>
                  <span class="f-12 lh-14 fw-400 color-FFFFFF ml-1">5,0 (175)</span>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-1 py-1 px-3 price">
                  Free
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="info pl-3">
    </div>
  </div>
</div>
