<div class="air-bnb py-3 w-100 d-flex" [ngClass]="{'air-bnb--active':active}">
  <div class="air-bnb__logo d-flex justify-content-center align-items-center">
    <img loading="lazy" src="https://play-lh.googleusercontent.com/1zfN_BL13q20v0wvBzMWiZ_sL_t4KcCJBeAMRpOZeT3p34quM-4-pO-VcLj8PJNXPA0=w240-h480-rw">
  </div>

  <div class="air-bnb__info">
    <div class="mb-2">
      <h5>Scuba Iguana</h5>
      <h6 class="mt-1"><i class="ICON-PIN1_Normal"></i>  Puerto Ayora, Galápagos Islands, Ecuador</h6>
      <p class="mt-2">Sunshine filled, bright garden  suite, next to the entrance to the Galapagos National Park and the Charles Darwin Station, and a few blocks away from some of the best restaurants, art galleries and bars in town. Located on the far end of one of Puerto Ayora's main streets, accessible to the road but removed enough to be isolated from the urban noise.</p>
    </div>
  </div>
  <div class="air-bnb__value d-flex flex-column align-items-center gap-1">
    <h6>Check in 10 am</h6>
    <button class="px-3">R$ 2.138,05</button>
    <p>Full price</p>
  </div>
</div>
