.trip {
  cursor: pointer;
  width: 100%;

  .image {
    position: relative;
    border-radius: 1rem;
    width: 100;
    overflow: hidden;
    border: 1px solid #000;

    img{
      position: absolute;
      top: 0;
    }

    [skeleton]{
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
    }


    .info {
      position: absolute;
      backdrop-filter: blur(4px);
      background-color: #0000007A;
      bottom: 0px;
      width: 100%;
      color: #fff;
      padding: 1rem;
      display: flex;
      gap: .6rem;
      flex-direction: column;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .profile {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -75%);
        overflow: hidden;
        border: 2px solid #fff;

        [skeleton]{
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .icon{
      font-size: 16px;
      color: #5998E3;
  }

  p {
    color: #8F8F8F;
    white-space: pre-line;
    max-width: 100% !important;
  }

  &--loading{
    .image{
      border: none;
    }
  }
}

:host{
  min-width: 100%;
}
