<div class="footer d-flex justify-content-between p-3">
  <img alt="logo" src="/assets/logo.svg">

  <ul class="d-none d-lg-flex gap-3 align-items-center">
    <li class="f-12 fw-700 text-uppercase">ABOUT</li>
    <li class="f-12 fw-700 text-uppercase">HOW WE WORK</li>
    <li class="f-12 fw-700 text-uppercase">FOR BUSINNESS</li>
  </ul>
  <ul class="d-none d-lg-flex  gap-3 align-items-center">
    <li class="f-12 fw-700 text-uppercase">
      <button class="start-a-trip">
        START A TRIP
      </button>
    </li>
    <li class="f-12 fw-700 text-uppercase">SING UP</li>
    <li class="f-12 fw-700 text-uppercase">LOGIN</li>
  </ul>
</div>
