<div class="location py-3 w-100 d-flex" [ngClass]="{'location--active':active}">
  <div class="location__logo d-flex justify-content-center align-items-center">
    <img loading="lazy" src="https://static.vecteezy.com/system/resources/previews/000/620/288/original/chef-hat-logo-and-symbols-black-color-vector-icon.jpg">
  </div>

  <div class="location__info">
    <div class="d-flex align-items-center justify-content-between mr-3">
      <div>
        <h5>Scuba Iguana</h5>
        <h6 class="mt-1"><i class="ICON-PIN1_Normal"></i> Puerto Ayora, Galápagos Islands, Ecuador</h6>
      </div>

      <div class="metrics">
        <div class="d-flex align-items-center gap-2">
          <div class="rating">
            <i class="ICON-ROT4_STAR"></i>
            <span class="ml-1">5,0 (175)</span>
          </div>
          <div class="duration">
            <i class="ICON-ROT5_CLOCK"></i>
            <span class="ml-1">2,5 hours</span>
          </div>
        </div>
        <p class="mt-1">From R$ 100 / person</p>
      </div>

    </div>
    <p class="mt-2 mr-2">Sunshine filled, bright garden suite, next to the entrance to the Galapagos National Park and the
      Charles Darwin Station, and a few blocks away from some of the best restaurants, art galleries and bars in town.
      Located on the far end of one of Puerto Ayora's main streets, accessible to the road but removed enough to be
      isolated from the urban noise.</p>
  </div>
</div>
