.places {
  display: flex;
  gap: 2rem;
  max-width: 100%;

  .item {
    padding: 0.5rem 1rem;
    word-break: keep-all;
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &:hover {
      filter: brightness(1.1);
    }

    &--active{
      color: #0B131E;
      background-color: #4B9EFF;
      border-radius: 7px;
    }
  }
}

.carrousel-input {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  border-radius: 50%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;

  i {
    color: #0B131E;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.icon {
  color: #4B9EFF;
}


.trip-card {
  width: 20.1%;
  text-decoration: none;

  @media (max-width: 1196px) {
    width: 25.1%;
  }

  @media (max-width: 996px) {
    width: 33.4%;
  }

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 465px) {
    width: 60%;
  }
}

::ng-deep .drag-scroll-wrapper {
  height: fit-content;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar {
  display: none !important;
}

::ng-deep .drag-scroll-content {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
