<div #componentRef class="search m-auto" [ngClass]="{'search--focused': focused}">
  <div class="search-input">
    <input #input placeholder="Search for cities, countries or trip names" (focus)="onFocus()">
    <span class="search-button">
      <i class="ICON-SIT01_SEARCH"></i>
    </span>
  </div>
  <div class="auto-complete w-100" *ngIf="focused">
    <hr class="mx-3">
    <div class="m-3">
      <div class="category">City</div>
      <div class="item">
        <div class="d-flex gap-1 mt-3">
          <a class="name ml-3" [routerLink]="['search/country/spain/city/barcelona']">Barcelona,</a>
          <a class="name" [routerLink]="['/search/country/spain']">Spain</a>
        </div>
        <hr class="mx-2 mt-3">
      </div>
    </div>

    <div class="m-3 ">
      <div class="category">Trips (3)</div>
      <div class="item">
        <div class="mt-3">
          <a class="name ml-3">Mochilando na Espanha</a>
        </div>
        <div class="row d-flex mt-1 gap-3 ml-3">
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-SIT04_LIKE icon"></i>
            <span class="count">(250)</span>
          </div>
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-PIN1_Normal icon"></i>
            <span class="count">250 Places</span>
          </div>
        </div>
        <p class="m-1 mx-3">Nulla nulla ex, dictum sed sem vitae, consectetur volutpat ante. Etiam tincidunt augue
          sollicitudin.</p>
        <hr class="mx-2 mt-3">
      </div>

      <div class="item">
        <div class="mt-3">
          <a class="name ml-3">Food, music and art in Barcelona</a>
        </div>
        <div class="row d-flex mt-1 gap-3 ml-3">
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-SIT04_LIKE icon"></i>
            <span class="count">(250)</span>
          </div>
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-PIN1_Normal icon"></i>
            <span class="count">250 Places</span>
          </div>
        </div>
        <p class="m-1 mx-3">Nulla nulla ex, dictum sed sem vitae, consectetur volutpat ante. Etiam tincidunt augue
          sollicitudin.</p>
        <hr class="mx-2 mt-3">
      </div>

      <div class="item">
        <div class="mt-3">
          <a class="name ml-3">The underground of Barcelona</a>
        </div>
        <div class="row d-flex mt-1 gap-3 ml-3">
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-SIT04_LIKE icon"></i>
            <span class="count">(250)</span>
          </div>
          <div class="d-flex justify-content-center align-items-center gap-1">
            <i class="ICON-PIN1_Normal icon"></i>
            <span class="count">250 Places</span>
          </div>
        </div>
        <p class="m-1 mx-3">Nulla nulla ex, dictum sed sem vitae, consectetur volutpat ante. Etiam tincidunt augue
          sollicitudin.</p>
        <hr class="mx-2 mt-3">
      </div>
    </div>
  </div>
</div>
