.start-a-trip {
  border-radius: 7px;
  background-color: var(--primary-green);
  color: var(--color-0B131E);
  cursor: pointer;
  border: none;
  color: #22262A;
  &:hover {
    filter: brightness(1.1);
  }
}

.places {
  display: flex;
  gap: 2rem;
  max-width: 100%;

  .item {
    padding: 0.5rem 1rem;
    word-break: keep-all;
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &:hover {
      filter: brightness(1.1);
    }

    &--active{
      color: #0B131E;
      background-color: #4B9EFF;
      border-radius: 7px;
    }
  }
}

.trip-card {
  width: 20%;
  min-width: 20%;
  text-decoration: none;

  @media (max-width: 1196px) {
    width: 25%;
    min-width: 25%;
  }

  @media (max-width: 996px) {
    width: 33%;
    min-width: 33%;
  }

  @media (max-width: 768px) {
    width: 50%;
    min-width: 50%;
  }
}

app-scroll-gallery{
  position: sticky;
  top: 84px;
  z-index: 2;

  @media (max-width: 992px) {
    top: 80px;
  }
}
