<app-header></app-header>
<div class="bg-dark w-100 m-0">
  <div class="container pb-5">
    <div class="search d-none d-lg-flex">
      <h1>Search a city or country to start a trip.</h1>
      <h2 class="d-none d-lg-block">Not sure where to go? Search and get inspired by trippers.</h2>
      <app-search [scroolOnFocus]="true"></app-search>
    </div>
    <div class="galery pt-5">
      <app-galery></app-galery>
    </div>
    <div class="d-none d-lg-block">
      <h1 class="f-25 fw-300 lh-20 text-white text-center mt-5">Create all kind of trips and experiences to share and explore the world.</h1>
      <p class="f-16 fw-300 lh-14 text-white mt-3 mt-lg-2 text-center">Work with tourism? Welcome, <a class="start-a-trip-link">learn how to offer</a> better and personalized trips
        for your costumers.</p>
      <div class="row d-flex justify-content-center m-5 gap-3">
        <button class="f-12 fw-700 px-3 py-2 text-center text-uppercase  start-a-trip">
          START A TRIP
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container w-100 my-5 extraordinary-trips">
  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
    <div class="title">
      The most extraordinaries trips around the world
    </div>
    <div class="subtitle">
      We offer a platform for people and companies to create travel itineraries, offer services and products that make
      the travel experience unique.
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col">
          <div class="image w-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <div class="image t-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="image t-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <div class="row">
        <div class="col-6">
          <div class="image t-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="image t-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="image w-image">
            <img loading="lazy" class="w-100 h-100" src="https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_1280.jpg" />
            <div class="info">
              <div class="name">Cap Rocat, Spain</div>
              <div class="count"> 213 trips</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div id="about" class="container w-100 my-5 how-we-work">
  <h1 class="mt-3 mr-3">How we work</h1>
  <div class="row">
    <div class="col-lg-4 col-sm-6 mt-4">
      <i class="ICON-ROT8_HEART mt-2"></i>
      <h6 class="mt-2">For you, me and everybody who loves travel</h6>
      <p class="mt-2">Create and organize your trips of an amazing way. Seriously, try it. It’s beautiful, smart and easy. Share your
        trips with anyone you want, or not. You like an other person trip? Fine, just steal and make it yours with your
        personal touch. Seriously, just try.</p>
    </div>
    <div class="col-lg-4 col-sm-6 mt-4">
      <i class="ICON-CON1_AGENCY  mt-2"></i>
      <h6 class="mt-2">For agencies</h6>
      <p class="mt-2">You can create your trips with our platform and delivery a great experience to your costumers, help him decide
        to buy your product. Also, you can allow him to personalize (or not) their trips itineraries with you.</p>
    </div>
    <div class="col-lg-4 col-sm-6 mt-4">
      <i class="ICON-CON2_COMMERCIALTRIP mt-2"></i>
      <h6 class="mt-2">For influencers
        <i class="ICON-SOC1_YOUTUBE ml-2"></i>
        <i class="ICON-SOC2_INSTAGRAM ml-2"></i>
        <i class="ICON-SOC3_TIKTOK ml-2"></i>
      </h6>
      <p class="mt-2">Bring your content, create your trips and share an immersive experience of your path on the world. Here your
        content is alive at each place where you created it. Use your itineraries to show and sell your services or just
        to share your way of life.</p>
    </div>
    <div class="col-lg-4 col-sm-6 mt-4">
      <i class="ICON-CON3_BUSINESS mt-2"></i>
      <h6 class="mt-2">For business</h6>
      <p class="mt-2">Don’t matter if you are big or small. Talk straight with people who are creating and making decisions for their
        trips. Offer your services on itineraries that make sense for both of you. Suggest great ideas and help people
        create a dream on.</p>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<div class="container w-100 my-5 more-about-us">
  <h1 class="mt-3 mr-3">More About US</h1>
  <app-stories class="mt-5"></app-stories>
</div>
<app-footer class="d-none d-lg-block"></app-footer>
